# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/src/App.base/dist
/tmp
/out-tsc
/gulpfile.js
/gulp/**/*.js
/src/app.base/gulp/**/*.js
/src/app.base/src/app/**/*.html

# dependencies
node_modules/**
src/**/node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/src/App.base/.sass-cache
/src/App.base/connect.lock
/src/App.base/coverage
/src/App.base/libpeerconnection.log
npm-debug.log
testem.log

# e2e
/src/App.base/e2e/*.js
/src/App.base/e2e/*.map

# System Files
.DS_Store
Thumbs.db