.login-wrapper.columns
  .column.is-8.is-hidden-mobile.hero-banner
    section.hero.is-fullheight.is-dark
      .hero-body
        .container.section
          .has-text-right
            h1.title.is-1 Login
            br
            p.title.is-3 Secure User Account Login              
  .column.is-4
    section.hero.is-fullheight
      .hero-heading
        .section.has-text-centered
          img(src='http://bulma.io/images/bulma-logo.png', alt='Bulma logo', width='150px')
      .hero-body
        .container
          .columns
            .column.is-8.is-offset-2
              h1.avatar.has-text-centered.section
                img(src='https://placehold.it/128x128')
                app-login-form((submitted)='onSubmit($event)', [locker]="lock$ | async")
